################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Temperature-Converter/.vs/Temperature-Converter
/Temperature-Converter/Temperature-Converter.Business/obj/Debug/netcoreapp3.1
/Temperature-Converter/Temperature-Converter.Business/obj
/Temperature-Converter/Temperature-Converter.Business/bin/Debug/netcoreapp3.1
